<p style="color: green"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>Has made <%= @user.ratings.count%> ratings, average rating <%= @user.average_rating%>.</p>

<% if @user.favorite_style %>
  <p>Favorite style: <%= @user.favorite_style.name%></p>
<% end %>

<% if @user.favorite_brewery %>
  <p>Favorite brewery: <%= @user.favorite_brewery.name%></p>
<% end %>

<h5>Ratings:</h5>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating.to_s %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, id: "delete_rating_#{rating.id}", data: { "turbo-method": :delete } %>
      <% end %>
    </li>
  <% end %>
</li>
<br>

<h5>Beer Club Memberships:</h5>
<p>
  <% @user.beer_clubs.each do |club| %>
    <div>
      <%= link_to club.name, club %>
    </div>
  <% end %>
</p>


<div>
  <% if @user == current_user %>  
    <%= link_to "Edit this user", edit_user_path(@user) %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
  <%= link_to "Back to users", users_path %>
</div>
