<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<% if admin_logged_in && @user.closed  %>
  <span class="badge bg-secondary">closed</span>
<% end %>
<p>Has made <%= @user.ratings.count%> ratings, average rating <%= round(@user.average_rating)%></p>

<% if @user.favorite_style %>
  <p>Favorite style: <%= @user.favorite_style.name%></p>
<% end %>

<% if @user.favorite_brewery %>
  <p>Favorite brewery: <%= @user.favorite_brewery.name%></p>
<% end %>

<h5>Ratings:</h5>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating.to_s %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, id: "delete_rating_#{rating.id}", data: { "turbo-method": :delete } %>
      <% end %>
    </li>
  <% end %>
</li>
<br>

<h5>Beer Club Memberships:</h5>
<% if @memberships.empty? %>
  <p>No memberships</p>
<% end%>
<p>
  <% @memberships.each do |m| %>
    <div>
      <%= link_to BeerClub.find_by(id: m.beer_club_id).name, beer_club_path(m.beer_club_id) %>
    </div>
  <% end %>
</p>

<h5>Beer Club Membership applications:</h5>
<% if @applications.empty? %>
  <p>No memberships</p>
<% end%>
<p>
  <% @applications.each do |a| %>
    <div>
      <%= link_to BeerClub.find_by(id: a.beer_club_id).name, beer_club_path(a.beer_club_id) %>
    </div>
  <% end %>
</p>

<div>
  <% if @user == current_user %>  
    <%= link_to "Edit this user", edit_user_path(@user) %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
  <%= link_to "Back to users", users_path %>
</div>

<div>
  <% if current_user && current_user.admin %>  
    <%= link_to "#{ @user.closed ? "Open" : "Close" } user account", change_status_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-warning" %>
  <% end %>
</div>
