<h1>Ratings</h1>
<h5>Total number of ratings: <%= @ratings.count %></h5>

<%= render partial: "top", locals: {type: 'Beers', list: @top_beers}%>
<%= render partial: "top", locals: {type: 'Breweries', list: @top_breweries}%>  

<h2>5 latest ratings:</h2>
<ul>
 <% @recent.each do |rating| %>
    <li> 
        <%= render rating %>  
    </li>
 <% end %>
</ul>

<h5><%= link_to "Input a new rating", new_rating_path %></h5>

