<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name %>
    <% if not brewery.active  %>
      <span class="badge bg-secondary">retired</span>
    <% end %>
  </h2>
  <p>Established at <i><%= brewery.year%></i></p>
  <div>
    <p>Beers count: <%= brewery.beers.count%></p>
  </div>
  <p>
  <% brewery.beers.each do |beer| %>
    <div>
      <%= link_to beer.name, beer %>
    </div>
    <% end %>
  </p>
  <% if brewery.ratings.empty? %>
      <p>No beers of this brewery have yet been rated!</p>
    <% else %>
      <p>
      Brewery's beers have 
      <%=pluralize(brewery.ratings.length, 'rating')%> with an average of
      <%= round(brewery.average_rating) %>
      </p>
  <% end %>
</div>