<% cache beer do %>
  <div id="<%= dom_id beer %>">

    <p>
      <strong>Name:</strong>
      <%= link_to "#{beer.name}", beer %>
    </p>

    <p>
      <strong>Style:</strong>
      <%= link_to "#{beer.style.name}", beer.style %>
    </p>

    <p>
      <strong>Brewery:</strong>
      <%= link_to "#{beer.brewery.name}", beer.brewery %>
    </p>
      <% if beer.ratings.empty? %>
        <p>beer has not yet been rated!</p>
      <% else %>
        <p>
        Beer has 
        <%=pluralize(beer.ratings.length, 'rating')%> with an average of
        <%= beer.average_rating %>
        </p>
      <% end %>
  </div>
<% end %>
