<h1>Beers</h1>
<p>Number of beers: <%= @beers.count %></p>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th><%= link_to "Name", beers_path(order: "name")%></th>
      <th><%= link_to "Style", beers_path(order: "style")%></th>
      <th><%= link_to "Brewery", beers_path(order: "brewery")%></th>
      <th><%= link_to "Rating", beers_path(order: "rating")%></th>
    </tr>
  </thead>
  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td>
          <%= link_to "#{beer.name}", beer %>
        </td>
        <td>
          <%= link_to "#{beer.style.name}", beer.style %>
        </td>
        <td>
          <%= link_to "#{beer.brewery.name}", beer.brewery %>
        </td>
          <% if beer.ratings.empty? %>
            <td>N/A</td>
          <% else %>
            <td>
            Beer has 
            <%=pluralize(beer.ratings.length, 'rating')%> with an average of
            <%= round(beer.average_rating) %>
            </td>
          <% end %>
      <tr>
    <% end %>
  </tbody>
</table>

<%= link_to("New beer", new_beer_path, class:'btn btn-primary') if current_user%>
<br>
<%= link_to 'list of breweries', breweries_path %>
