<div class="card" style="width: 50%;">
    <%@weather['weather_icons'].each do |url|%>
        <%= image_tag image_url(url), {class:"card-img-top"} %>
    <% end %>
  <div class="card-body">
    <h5 class="card-title">Current beer weather in <%= @latest %></h5>
    <ul class="list-group list-group-flush">
      <%@weather['weather_descriptions'].each do |desc|%>
        <li class="list-group-item"><p class="card-text"><%=desc%></p></li>
      <% end %>
      <li class="list-group-item"><p class="card-text"><%= @weather['temperature'] %> Celsius</p></li>
      <li class="list-group-item"><p class="card-text">Wind <%= @weather['wind_speed'] %> m/s, direction <%= @weather['wind_dir'] %></p></li>
    </ul>
  </div>
</div>