<h1>Beer places search</h1>
<%= form_with url: places_path, method: :post do |form| %>
<div class="input-group mb-3">
  <%= form.text_field :city, { class:"form-control", placeholder:"City" } %>
  <%= form.submit "Search", { class:"btn btn-outline-secondary" } %>
</div>
<% end %>

<% if @places %>
  <br>
  <%= render partial: 'weather', :object => @weather %>
  <table class="table">
  <thead>
    <tr>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <% if field.to_s == 'name' %>
            <td><%= link_to place.name, place_path(place.id) %></td>
          <% else %>
            <td><%= place.send(field) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>